.newAccueil{
    position: relative;
    background-color: white;
    min-height: 100vh;
    padding-top: 6vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    .intro{
        //margin: auto;

        width: 40%;
        .oneSkill{
            //text-align: center;
            margin-left:20px;
            //margin-top: -3vh;
        }
        h1{
            margin-left:20px;
            line-height: 1vh;
            //text-align: center;
        }
        /*.textareafield{
            width: 60%;
            position: absolute;
            bottom: 10vh;
        }*/
        .cv{
            //width: 50%;
            //height: 10vh;
            border: 2px solid black;
            border-radius: 14px;
            background-color: white;
            cursor: pointer;
            padding: 10px;
            margin-left: 20px;
            //margin: auto;
            color: inherit;
            p{
                display: inline;
            }
        }
    }
    .picture{
        width: 40%;
    }
}