.accueilField{
    position: relative;
    height: calc(100vh - 59px);
    @media (max-width: 900px){
height: 80vh;
      }
    .picturePlace{
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        img{
            width: 25%;
            left: 2.5%;
            bottom: 0;
            position: absolute;
            opacity: 0;
            animation: fadeIn 2s ease 2s forwards ;
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
        .oblique{
            position: absolute;
            left: 33%;
            width: 33%;
            height: 100%;
            background-color: white;
            transform: skewX(-15deg);
            animation: rideau 2s ease-in-out ;
            @media (max-width: 900px){
                left: 50%;
                width: 100%;
                animation: none;
                transform: skewX(-30deg);
              }
            @keyframes rideau {
                0% {
                    left: 50%;
                    width: 0%;
                }
                100%{
                    left: 33%;
                    width: 33%;
                }
            }
        }
    }
    .contactIndication{
        display: flex;
        width: 90%;
        flex-direction: column;
        z-index: 2;
        margin-bottom: 5vh;
        
        p{
            text-align: center;
            font-size: 0.8rem;
            margin-top: 0;
            @media (min-width: 1600px){
                font-size: 1vw;
              }
        }
        @media (max-width: 900px){
            margin-top: 60px;
          }
    }
    .contactMe{
        width: 100px;
        @media (min-width: 1600px){
            width: 10vw;
          }
        margin: auto;
        cursor: pointer;
        z-index: 2;
        color: black;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        animation: clignote 1s infinite  ;

        img{
            width: 100%;
            margin-left: -120vw;
            //margin-left: -35px;
            animation: contact 0.7s ease 1s forwards ; 
        }
    }
    @keyframes contact{
        0% {
            margin-left: -100vw;
        }
        100%{
            margin-left: -35px;
        }
    }
    @keyframes clignote{
        0% {
            opacity: 1;
        }
        50%{
            opacity: 0.3;
        }
        100%{
            opacity: 1;
        }
    }
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    @keyframes comming{
        0% {
            margin-top: 70px;
        }
        100%{
            margin-top: 0;
        }}
    .intro{
        z-index: 2;
        position: absolute;
        top: 1vw;
        left: 0%;
        height: 6vw;
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
        //border: 1px solid red;
        margin: 0;
        @media (min-width: 1600px)  {
            height: 2.6vw;
            padding-top: 1vw;
        }
        @media (max-width: 900px){
            margin-bottom: 60px;
            height: 10vh;
          }
        h1{
            position: absolute;
            width: 100%;
            text-align: center;
            margin-top: 100px;
            margin-left: 4%;
            animation: comming 0.5s ease 2s forwards;
            @media (max-width: 900px){
                color: white;
                margin-left: 0;
              }
         }
    }
    .videoInReact{
        @media (max-width: 900px){
            flex-direction: column;
          }
        width: 100%;
        height: calc(100vh - 59px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        .hardSkills{
            color: white;
            z-index: 2;
            margin-top: 10vh;
            position: relative;

            @media (max-width: 900px){
                margin-top: 80px;
              }
            position: relative;
            p{
                font-size: 1vw;
            }
            .texte_intro{
                padding: 0vw 2vw 0vw 0%;
                position: absolute;
                top: 20%;
                left: 20%;
            }
            .oneSkill{
                height: 2vw;
                @media (max-width: 900px){
                    height: 4vh;
                  }
                overflow: hidden;
                h3{
                    text-align: center;
                    margin-top: 0;
                    animation: comming 2.5s ease ;
                }
            }
            width: 35%;
            min-height: 200px;
            @media (max-width: 900px){
                width: 100%;
                height: 200px;
              }

            @keyframes commingRight{
                0% {
                    left: 130%;
                }
                100%{
                    left: 40px;
                }}
        }
        .softSkills{
            width: 35%;
            min-height: 200px;
        }
        .react{
            width: 22vw;
            height: 22vw;
            margin: auto;
            display: block;
            position: relative;
            aspect-ratio: 1;
            z-index: 2;
            //border: 1px solid red;
            span{
                opacity: 0;
            }
            @media (max-width: 900px){
                display: none;
              }
        }
    }
    .buttonPlace{
        width: 100px;
        @media (min-width: 1600px){
            width: 9vw;
            top: calc(50% - 4.5vw);
            left: calc(50% - 4.5vw);
          }
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        position: absolute;
        z-index: 4;
        @media (max-width: 900px){
            padding-top: 30px;
            padding-bottom: 30px;
            width: 30%;
            height: 30%;
            left: 0;
            top: 0;
            margin: auto;
            position: relative;
        }
        @media (min-width: 900px){
            .buttonDiv{
                .send
                {
                    .purpleAndWitheTextarea{
                        box-shadow: 0px 0px 10px black ;
                        border: 6px solid black ;
                        @media (min-width: 1600px){
                            border: 0.4vw solid black;
                          }
                    }
                    .purpleAndWitheTextarea:hover{
                        width: 80%;
                        margin-left: 4%;
                        margin-top: 4%;
                        box-shadow: 0px 0px 0px black ;
                    }
                }
            }
        }
    }
    p{
        font-family: "hayanbaram", sans-serif;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 1;
    }
    h2{
        font-family: "hayanbaram", sans-serif;
        font-weight: lighter;
        font-size: 1.6rem;
        margin-bottom: 30px;
        margin-top: 100px;
        @media (max-width: 900px){
            margin-top: 0;
        }
    }  
}