.accueilField {
  position: relative;
  height: calc(100vh - 59px);
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .accueilField {
    height: calc(200vh - 150px);
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField {
    height: calc(400vh - 150px);
  }
}
.accueilField .picturePlace {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media (max-width: 900px) {
  .accueilField .picturePlace {
    background-color: white;
  }
}
.accueilField .picturePlace img {
  width: 25%;
  left: 2.5%;
  bottom: 0;
  position: absolute;
  opacity: 0;
  animation: fadeInPortrait 2s ease 2s forwards;
}
@media (max-width: 900px) {
  .accueilField .picturePlace img {
    position: absolute;
    transform-origin: bottom left;
    bottom: 100vh;
    width: 50%;
    left: 50%;
    z-index: 3;
    animation: fadeInPortrait 2s ease;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .picturePlace img {
    left: 0%;
    opacity: 1 !important;
    top: 100vh;
  }
}
@media (max-width: 900px) and (aspect-ratio > 12/16) {
  .accueilField .picturePlace img {
    width: 30%;
    left: 70%;
  }
}
@keyframes fadeInPortrait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 900px) {
  .accueilField .picturePlace .mobileOblique {
    display: none;
  }
}
@media (max-width: 900px) {
  .accueilField .picturePlace .mobileOblique {
    position: absolute;
    top: calc(100vh - 155px);
    right: 50%;
    width: 2000%;
    height: 100vh;
    background-color: black;
    transform: skewX(-35deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 9/16) {
  .accueilField .picturePlace .mobileOblique {
    transform: skewX(-40deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 11/16) {
  .accueilField .picturePlace .mobileOblique {
    transform: skewX(-45deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 12/16) {
  .accueilField .picturePlace .mobileOblique {
    transform: skewX(-50deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 13/16) {
  .accueilField .picturePlace .mobileOblique {
    transform: skewX(-55deg);
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .picturePlace .mobileOblique {
    height: 200vh;
    top: calc(200vh - 151px);
  }
}
.accueilField .oblique {
  position: absolute;
  left: 33%;
  width: 33%;
  height: 100%;
  background-color: white;
  transform: skewX(-15deg);
}
@media (min-width: 901px) {
  .accueilField .oblique {
    animation: rideau 2s ease-in-out;
  }
  @keyframes rideau {
    0% {
      left: 50%;
      width: 0%;
    }
    100% {
      left: 33%;
      width: 33%;
    }
  }
}
@media (max-width: 900px) {
  .accueilField .oblique {
    left: 50%;
    width: 20000%;
    height: calc(100vh - 150px);
    animation: mobileRideau 1s ease-in-out;
    transform: skewX(-35deg);
    background-color: black;
  }
}
@media (max-width: 900px) and (aspect-ratio > 9/16) {
  .accueilField .oblique {
    transform: skewX(-40deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 11/16) {
  .accueilField .oblique {
    transform: skewX(-45deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 12/16) {
  .accueilField .oblique {
    transform: skewX(-50deg);
  }
}
@media (max-width: 900px) and (aspect-ratio > 13/16) {
  .accueilField .oblique {
    transform: skewX(-55deg);
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .oblique {
    height: calc(200vh - 150px);
    top: 0;
  }
}
@media (max-width: 900px) {
  @keyframes mobileRideau {
    0% {
      transform: skewX(40deg);
    }
    100% {
      @media (max-width: 900px) and (aspect-ratio > 9/16) {
        .accueilField .oblique {
          transform: skewX(-40deg);
        }
      }
      @media (max-width: 900px) and (aspect-ratio > 11/16) {
        .accueilField .oblique {
          transform: skewX(-45deg);
        }
      }
      @media (max-width: 900px) and (aspect-ratio > 12/16) {
        .accueilField .oblique {
          transform: skewX(-50deg);
        }
      }
      @media (max-width: 900px) and (aspect-ratio > 13/16) {
        .accueilField .oblique {
          transform: skewX(-55deg);
        }
      }
    }
  }
}
.accueilField .contactIndication {
  display: flex;
  width: 90%;
  flex-direction: column;
  z-index: 2;
  margin-bottom: 5vh;
}
.accueilField .contactIndication p {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0;
}
@media (min-width: 1600px) {
  .accueilField .contactIndication p {
    font-size: 1vw;
  }
}
@media (max-width: 900px) {
  .accueilField .contactIndication {
    margin-top: 70vh;
    width: 100%;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .contactIndication {
    margin-top: 270vh;
  }
}
.accueilField .contactMe {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  z-index: 2;
  color: black;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  animation: clignote 1s infinite;
}
@media (min-width: 1600px) {
  .accueilField .contactMe {
    width: 10vw;
  }
}
.accueilField .contactMe img {
  width: 100%;
  margin-left: -120vw;
  animation: contact 0.7s ease 1s forwards;
}
@media (max-width: 900px) {
  .accueilField .contactMe img {
    animation: none;
  }
  .accueilField .contactMe img.contactActive {
    animation: contact 0.7s ease forwards;
  }
}
@keyframes contact {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: -35px;
  }
}
@keyframes clignote {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes comming {
  0% {
    margin-top: 70px;
  }
  100% {
    margin-top: 0;
  }
}
.accueilField .intro {
  z-index: 2;
  position: absolute;
  top: 1vw;
  left: 0%;
  height: 6vw;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  margin: 0;
}
@media (min-width: 1600px) {
  .accueilField .intro {
    height: 2.6vw;
    padding-top: 1vw;
  }
}
@media (max-width: 900px) {
  .accueilField .intro {
    margin-bottom: 60px;
    height: 10vh;
    margin-top: 3vh;
  }
}
.accueilField .intro h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-left: 4%;
  animation: comming 0.5s ease 2s forwards;
}
@media (max-width: 900px) {
  .accueilField .intro h1 {
    animation: comming 0s forwards;
    text-align: left;
    padding-left: 2vw;
  }
}
@media (max-width: 900px) {
  .accueilField .intro h1 {
    margin-left: 0;
  }
}
.accueilField .videoInReact {
  width: 100%;
  height: calc(100vh - 59px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 900px) {
  .accueilField .videoInReact {
    flex-direction: column;
    height: calc(100vh - 150px);
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .videoInReact {
    height: calc(200vh - 150px);
  }
}
.accueilField .videoInReact .hardSkills {
  color: white;
  z-index: 2;
  margin-top: 10vh;
  position: relative;
  width: 35%;
  min-height: 200px;
}
@media (max-width: 900px) {
  .accueilField .videoInReact .hardSkills {
    position: absolute;
    color: black;
    margin-top: 4vh;
  }
}
.accueilField .videoInReact .hardSkills p {
  font-size: 1vw;
  font-family: "abacaxi-devanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.accueilField .videoInReact .hardSkills .texte_intro {
  padding: 2vw 2vw 0vw 0%;
  position: absolute;
  top: 20%;
  left: 20%;
}
@media (max-width: 900px) {
  .accueilField .videoInReact .hardSkills .texte_intro {
    position: absolute;
    color: white;
    top: calc(100vh - 230px);
    left: 0;
    padding: 1vw;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .videoInReact .hardSkills .texte_intro {
    top: calc(200vh - 230px);
  }
}
@media (max-width: 900px) {
  .accueilField .videoInReact .hardSkills .texte_intro :nth-child(1) {
    width: 100%;
  }
  .accueilField .videoInReact .hardSkills .texte_intro :nth-child(2) {
    width: 100%;
  }
  .accueilField .videoInReact .hardSkills .texte_intro :nth-child(3) {
    width: 70%;
  }
  .accueilField .videoInReact .hardSkills .texte_intro :nth-child(4) {
    width: 60%;
  }
  .accueilField .videoInReact .hardSkills .texte_intro :nth-child(5) {
    width: 50%;
  }
  .accueilField .videoInReact .hardSkills .texte_intro p {
    font-size: 1.6vh;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .videoInReact .hardSkills .texte_intro p {
    font-size: 3.2vh;
  }
}
.accueilField .videoInReact .hardSkills .oneSkill {
  height: 2vw;
  overflow: hidden;
}
@media (max-width: 900px) {
  .accueilField .videoInReact .hardSkills .oneSkill {
    height: 4vh;
  }
}
.accueilField .videoInReact .hardSkills .oneSkill h3 {
  margin-left: 2vw;
  text-align: center;
  margin-top: 0;
  animation: comming 2.5s ease;
}
@media (max-width: 900px) {
  .accueilField .videoInReact .hardSkills .oneSkill h3 {
    text-align: left;
  }
}
@media (max-width: 900px) {
  .accueilField .videoInReact .hardSkills {
    width: 100%;
    height: 200px;
    top: 8vh;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .videoInReact .hardSkills {
    top: 16vh;
  }
  .accueilField .videoInReact .hardSkills h3 {
    font-size: 4vh;
  }
}
@keyframes commingRight {
  0% {
    left: 130%;
  }
  100% {
    left: 40px;
  }
}
.accueilField .videoInReact .softSkills {
  width: 35%;
  min-height: 200px;
}
.accueilField .videoInReact .react {
  width: 22vw;
  height: 22vw;
  margin: auto;
  display: block;
  position: relative;
  aspect-ratio: 1;
  z-index: 2;
}
.accueilField .videoInReact .react span {
  opacity: 0;
}
@media (max-width: 900px) {
  .accueilField .videoInReact .react {
    display: none;
  }
}
.accueilField .buttonPlace {
  width: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  position: absolute;
  z-index: 4;
}
@media (min-width: 1600px) {
  .accueilField .buttonPlace {
    width: 9vw;
    top: calc(50% - 4.5vw);
    left: calc(50% - 4.5vw);
  }
}
@media (max-width: 900px) {
  .accueilField .buttonPlace {
    width: 30%;
    top: calc(40vh - 15vw);
    left: 35%;
    margin: auto;
    position: absolute;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .accueilField .buttonPlace {
    top: calc(90vh - 15vw);
  }
}
@media (max-width: 900px) {
  .accueilField .buttonPlace .send .purpleAndWitheTextarea {
    box-shadow: 0px 0px 10px black;
    border: 6px solid black;
  }
  .accueilField .buttonPlace .send .purpleAndWitheTextarea span {
    font-size: 3.5vw;
  }
  .accueilField .buttonPlace .send .purpleAndWitheTextarea:hover {
    width: 80%;
    margin-left: 4%;
    margin-top: 4%;
    box-shadow: 0px 0px 0px black;
  }
}
@media (min-width: 900px) {
  .accueilField .buttonPlace .buttonDiv .send .purpleAndWitheTextarea {
    box-shadow: 0px 0px 10px black;
    border: 6px solid black;
  }
}
@media (min-width: 900px) and (min-width: 1600px) {
  .accueilField .buttonPlace .buttonDiv .send .purpleAndWitheTextarea {
    border: 0.4vw solid black;
  }
}
@media (min-width: 900px) {
  .accueilField .buttonPlace .buttonDiv .send .purpleAndWitheTextarea:hover {
    width: 80%;
    margin-left: 4%;
    margin-top: 4%;
    box-shadow: 0px 0px 0px black;
  }
}
.accueilField p {
  font-family: "hayanbaram", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1;
}
.accueilField h2 {
  font-family: "hayanbaram", sans-serif;
  font-weight: lighter;
  font-size: 1.6rem;
  margin-bottom: 30px;
  margin-top: 100px;
}
@media (max-width: 900px) {
  .accueilField h2 {
    margin-top: 0;
  }
}/*# sourceMappingURL=accueil.css.map */