.projectContentAndBackground {
  position: relative;
  height: 55dvh;
  width: 80%;
  margin: auto;
  margin-top: 12dvh;
}
@media (max-width: 650px) {
  .projectContentAndBackground {
    height: 85vh;
  }
}
.projectContentAndBackground .projectContent {
  position: absolute;
  padding: 10px;
  color: white;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 20px;
  border: solid #6d477a;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
@media (max-width: 650px) {
  .projectContentAndBackground .projectContent {
    font-size: 0.8rem;
  }
}

.projectPage {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.projectPage .blabla {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
}
.projectPage .blabla p {
  margin: auto;
}
.projectPage .blablabla {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
}
.projectPage .blablabla p {
  margin: auto;
}
.projectPage .blablabla img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300%;
}
.projectPage .textAndLinks:hover .likeContainer {
  right: -20px;
}
.projectPage .scrollDown {
  position: absolute;
  border: solid 3px black;
  height: 60px;
  width: 30px;
  top: 2vh;
  z-index: 1;
  left: 2vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.873);
}
@media (max-width: 900px) {
  .projectPage .scrollDown {
    top: 1vh;
  }
}
@media (min-width: 1600px) {
  .projectPage .scrollDown {
    border: solid 8px black;
    height: 6vw;
    width: calc(2vw + 16px);
    top: 5vw;
    left: 3vw;
    border-radius: 2vw;
  }
}
.projectPage .scrollDown .scrollDot {
  position: relative;
  border-radius: 20px;
  background-color: black;
  border: solid 3px black;
  height: 12px;
  width: 12px;
  left: 6.5px;
  top: 6.5px;
  animation-name: scrolling;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
}
@media (min-width: 1600px) {
  .projectPage .scrollDown .scrollDot {
    border-radius: 2vw;
    border: solid 8px black;
    height: 1vw;
    width: 1vw;
    left: 0.5vw;
    top: calc(1vw - 10px);
  }
}
@keyframes scrolling {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0px);
  }
}
.projectPage .videoField {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}
.projectPage .videoField p {
  text-align: center;
}
.projectPage .video {
  display: block;
  width: 94%;
  margin: auto;
  z-index: 8;
  position: relative;
  border-radius: 20px;
}
.projectPage .transition {
  background: linear-gradient(0deg, #FFFFFF, rgba(255, 255, 255, 0));
  position: absolute;
  z-index: 5;
  width: 100%;
  opacity: 1;
}
.projectPage #project {
  position: absolute;
  top: -100px;
}
@media (max-width: 650px) {
  .projectPage #project {
    top: -250px;
  }
}
.projectPage .slider {
  margin-top: 0px;
  height: calc(103dvh - 59px);
  position: relative;
  right: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0px 0px 10px black;
}
@media (max-width: 900px) {
  .projectPage .slider {
    height: calc(70vw + 168px);
  }
  .projectPage .slider .slMax {
    background-color: black;
  }
  .projectPage .slider .slMax img {
    padding-top: 0px;
    top: 0;
  }
  .projectPage .slider .sliderContainer .carousel-img {
    width: 100%;
    height: inherit;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.projectPage .slider .likeContainer {
  top: 12px;
}
@media (min-width: 1600px) {
  .projectPage .slider .likeContainer {
    top: 5vw;
  }
}
@media (max-width: 650px) {
  .projectPage .slider .likeContainer {
    top: 130px;
  }
}
.projectPage .textAndLinks {
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 7;
  margin-bottom: 100px;
}
@media (max-width: 900px) {
  .projectPage .textAndLinks {
    flex-direction: column;
  }
}
.projectPage .textAndLinks .purpleAndWitheTextarea {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.096);
}
.projectPage .textAndLinks .purpleAndWitheTextarea .cofeeComponent {
  filter: invert(1);
  position: absolute;
  bottom: 0;
}
.projectPage .textAndLinks .resum {
  width: 60%;
}
@media (max-width: 900px) {
  .projectPage .textAndLinks .resum {
    width: 100%;
    margin-bottom: 10vh;
  }
}
.projectPage .textAndLinks .resum .fullResum {
  margin-bottom: 10vh;
}
.projectPage .textAndLinks .links {
  width: 30%;
  margin-left: 10%;
}
@media (max-width: 900px) {
  .projectPage .textAndLinks .links {
    width: 100%;
    margin-left: 0;
  }
}
.projectPage .tools {
  margin-top: 210px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 120px;
}
@media (max-width: 650px) {
  .projectPage .tools {
    flex-direction: column;
  }
}
.projectPage .collapse {
  width: 30%;
  padding-left: 1dvw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  .projectPage .collapse {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 650px) {
  .projectPage .collapse .collapseContent:hover .likeContainer {
    right: -20px;
    transition: 1000ms;
  }
}
@media (max-width: 649px) {
  .projectPage .collapse .collapseContent .likeContainer {
    transition: 1000ms;
  }
}
.projectPage .collapse .collapseContent .toolTitle {
  margin: auto;
}
.projectPage .skills {
  margin: auto;
}
.projectPage .logoAndTitle {
  display: flex;
  flex-direction: row;
}
.projectPage .collapseContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projectPage .collapseContent .toolTitle {
  padding-right: 30px;
}
.projectPage .projectLink {
  color: white;
  transition: 1s;
}
.projectPage .projectLink:hover {
  color: #99477a;
  transition: 1s;
}
.projectPage .descriptionUnit {
  width: 100%;
  display: flex;
  margin-top: 60px;
}
.projectPage .descriptionUnit .pics {
  width: 30dvw;
  display: flex;
}
@media (max-width: 650px) {
  .projectPage .descriptionUnit .pics {
    width: 100dvw;
  }
}
.projectPage .descriptionUnit .pics img {
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
@media (max-width: 650px) {
  .projectPage .descriptionUnit .pics img {
    width: 40%;
  }
}
.projectPage .descriptionUnit .text {
  width: 60dvw;
  min-height: 100%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 650px) {
  .projectPage .descriptionUnit .text {
    width: 100dvw;
  }
}
.projectPage .left {
  flex-direction: row;
}
@media (max-width: 650px) {
  .projectPage .left {
    flex-direction: column;
  }
}
.projectPage .right {
  flex-direction: row-reverse;
}
@media (max-width: 650px) {
  .projectPage .right {
    flex-direction: column;
  }
}/*# sourceMappingURL=project.css.map */