.cardField{
    width: 20%;
    min-width: 250px;
    max-width: 350px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 20px;
    z-index: 5;
    @media (min-width: 1600px){
        width: 20vw;
        max-width: 20vw;
        height: 25vw;
        border-radius: 1.2vw;
      }
    .logoCards{
        position: absolute;
        z-index: 6;
        top: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        .topProj{
            height: 33px;
            width: 35px;
        }
        .studies{
            width: 35px;
        }
        @media (min-width: 1600px){
            .topProj{
                height: 3.3vw;
                width: 3.5vw;
            }
            .studies{
                width: 3.5vw;
            }
          }
    }
    p{
        font-size: 1rem;
        @media (min-width: 1600px){
            font-size: 1.2vw;
          }
    }
    .more{
        position: absolute;
        bottom: -10px;
        right: 10px;
        font-size: 10px;
        opacity: 0.5;
        @media (min-width: 1600px){
            font-size: 0.8vw;
          }
    }
    @media (max-width: 650px) {
        //width: 80%;
        max-width: 300px;
    }
    @media (max-width: 900px) {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    border: solid white;
    text-align: center;
    .likeSlide{
        position: relative;
        top: 114px;
    }
    .cardSlide{
        opacity: 1;
        height: 162px;
        @media (min-width: 1600px){
            height: 13vw;
          }
    }
    .cardResum{
        position: absolute;
        top: 150px;
        color: white;
        background-color: #99477a ;
        opacity: 0.8;
        transition: all ease-in-out 4s; 
        z-index: 1;
        height: calc( 100% - 150px);
        min-width: 230px;
        width: 100% ;
        display: flex;
        @media (min-width: 1600px){
            top: 0;
            height: 25vw;
          }
        .texte{
            padding: 10px;
            margin: auto;
            @media (min-width: 1600px){
                margin-top: 14vw;
              }
        }
        .likeCard{
            position: relative;
            top: 150px;
            @media (min-width: 1600px){
                top: 21vw;
              }
        }
    }
}
.cardField:hover {
    .cardResum{
        opacity: 1;
        transition: all ease-in-out 4s; 
    }
    .likeContainer{
        right: -20px;
        transition: 1000ms;
    }
    .more{
        opacity: 1;
    }
}

