.likeContainer{
    transition: 1000ms;
    position: absolute;
    right: -350px;
    opacity: 0.8;
    z-index: 6;
    .like{
        display: flex;
        flex-direction: row;
        min-width: 100px;
        border-radius: 20px;
        padding-left: 20px;
        height: 36px;
        @media (min-width: 1600px){
            height: 2vw;
            border-radius: 2vw;
            min-width: 4vw;
            margin-right: -0.5vw;
          }
        justify-content: flex-end;
        text-align: right;
        p{
            margin: auto;
            padding-top: 5px;
            margin-right: 55px;
            @media (min-width: 1600px){
                margin-right: 3.5vw;
              }
        }
    }

    @media (max-width: 900px) {
        right: -20px;
    }
    .poc{
        position: absolute;
        display: none;
        margin-top: -5px;
        
    }
    .pocContain{
        position: relative;
    }
    .poc1{
        left: -3px;
        top: -4px;
    }
    .poc2{
        left: 0px;
        top: -9px;
    }
    .poc3{
        left: 7px;
        top: -11px;
    }
    .poc4{
        left: 14px;
        top: -9px;
    }
    .poc5{
        left: 17px;
        top: -4px;
    }
    @media (min-width: 1600px){
        .poc1{
            left: calc( -6px - 0.75vw);
            top: -4px;
        }
        .poc2{
            left: calc( 1px - 0.75vw); 
            top: -9px;
        }
        .poc3{
            left: calc( 14px - 0.75vw );
            top: -11px;
        }
        .poc4{
            left: calc( 28px - 0.75vw );
            top: -9px;
        }
        .poc5{
            left: calc( 34px - 0.75vw );
            top: -4px;
        }
      }
    .checked{
            animation-name: like;
            animation-duration: 2000ms;
            .poc{
                display: block;
                animation-name: poc;
                animation-duration: 2000ms;
            }
        }
    .buttonLike{
        background: none;
	    border: none;
        width: 20px;
        position: absolute;
        right: 30px;
        top: 6px;
        .logoLike{
            margin-left: -5px;
            width: 20px;
            margin-bottom: -6px;
            cursor: pointer;
            @media (min-width: 1600px){
                width: 1.4vw;
                margin-left: -1.2vw;
              }
        }
    }
}
@keyframes like{
    0% {
        transform: translateX(-1px);
    }
    6% {
        transform: translateX(1px);
    }
    12% {
        transform: translateX(-1px);
    }  
    18% {
        transform: translateX(1px);
    }  
    24% {
        transform: translateX(-1px);
    }  
    32% {
        transform: translateX(1px);
    }  
    40% {
        transform: translateX(0px);
    }  
    100%{
        transform: translateX(0px);
    }
  }
  @keyframes poc{
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }

    37% {
        opacity: 1;
    }  
    70% {
        opacity: 1;
    }  
    100% {
        opacity: 1;
    }  
  }

.likeColorwithe{
    background-color: white;
    .buttonLike{
        color: black;
    }
    p{
        color: black;
    }
    color: black;
    img{
        filter: invert(0);
    }
}
.likeColorblack{
    background-color: black;
    color: white;
    .buttonLike{
        color: inherit;
    }
    img{
        filter: invert(1);
    }
}
