.likeContainer{
    transition: 1000ms;
    position: absolute;
    right: -350px;
    opacity: 0.8;
    z-index: 6;
    .like{
        display: flex;
        flex-direction: row;
        min-width: 100px;
        border-radius: 20px;
        padding-left: 20px;
        height: 36px;
        @media (min-width: 1600px){
            height: 2vw;
            border-radius: 2vw;
            min-width: 4vw;
            margin-right: -0.5vw;
          }
        justify-content: flex-end;
        text-align: right;
        p{
            margin: auto;
            padding-top: 5px;
            margin-right: 55px;
            @media (min-width: 1600px){
                margin-right: 2.5vw;
                margin-left: 1vw;
              }
        }
    }

    @media (max-width: 900px) {
        right: -20px;
    }
    .pocContain{
        position: relative;
    }
    @media (min-width: 1600px){
        .pocContain{
            position: relative;
            width: 100%;
            padding-bottom: 0.5vw;
            //padding-right: 1vw;
        }
      }
    .checked{
            animation-name: like;
            animation-duration: 2000ms;
        }
    .buttonLike{
        background: none;
	    border: none;
        width: 20px;
        position: absolute;
        right: 30px;
        top: 6px;
        @media (min-width: 1600px){
            position: relative;
            width: 2vw;
            top:auto;
            //top: -2px;
            right: 2vw;
          }
        .logoLike{
            margin-left: -5px;
            width: 20px;
            margin-bottom: -6px;
            cursor: pointer;
            @media (min-width: 1600px){
                width: 1.4vw;
                margin-bottom: -0.5vw;
                //margin-left: -1.2vw;
              }
        }
    }
}
@keyframes like{
    0% {
        transform: scale(0.7);
    } 
    20%{
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    } 
    100%{
        transform:scale(1);
    }
  }


.likeColorwithe{
    background-color: white;
    .buttonLike{
        color: black;
    }
    p{
        color: black;
    }
    color: black;
    img{
        filter: invert(0);
    }
}
.likeColorblack{
    background-color: black;
    color: white;
    .buttonLike{
        color: inherit;
    }
    img{
        filter: invert(1);
    }
}
